<div class="information">
  <div class="information-content">
    <h3>Create</h3>
    <p>Create a company to get started.</p>

    <h3>Join</h3>
    <p>
      Interested in joining a startup instead?
      Check out the startup resources	to see what's already out there.
    </p>

    <!-- <h3>Invite Code</h3>
    <div class="invite-code">
      <p>Companies need your invite code to invite you to join their team</p>
      <p>Invite code:</p>
      <p class="user-invite-code"><%= currentUser.inviteCode %></p>
    </div> -->

    
  </div>
</div>
