.bulletins {
	width: calc(100vw - 275px);
	height: calc(100vh - 300px);
	overflow: auto;
	border-bottom: 1px solid #f2f2f2
}

.bulletin-board{
	background-color: white;
	padding: 0;
	list-style: none;
}

.bulletin-message-container {
	padding: 10px 10px 15px 10px;
}

.bulletin-timestamp {
	margin: 0 0 2px 0;
	font-weight: 800;
}

.bulletin-message {
	margin: 5px 0 0 0;
}

.bulletin-view {
	display: none;
}

.bulletin-view h4 {
	font-size: 1em;
	margin-bottom: 0;
}

.bulletin-view p {
	font-size: 0.9em;
	margin-top: 0;
	margin-bottom: 10px;
}

.bulletin-message-response {
	font-size: 1em;
	margin: 2px;
	text-align: right;
}

.bulletin-comments-count {
	float: left;
}

.bulletin-message-response a {
	margin: 0 3px;
	text-decoration: none;
	color: rgb(46, 106, 201);
}

.bulletin-message-response a:hover{
	opacity: 0.7;
}

.cancel-button, .confirm-button, .hide-button {
	display: none;
}

.bulletin-hr {
	margin: 0;
}

.post-bulletin-message-form {
	height: 125px;
	position: fixed;
	bottom: 30px;
	right: 50px;
	width: calc(100% - 275px);
}

.post-bulletin-message {
	width: calc(100% - 16px);
	border: 3px solid #33A4FB;
	padding: 5px;
	resize: none;
	font-size: 1em;
	margin-bottom: 5px;
	height: calc(150px - 5px - 40px - 25px);
	border-radius: 5px;
}

.post-bulletin-btn {
	width: 100%;
	height: 40px;
	border: none;
	cursor: pointer;
	font-size: 1.3em;
	letter-spacing: 3px;
	font-weight: bold;
	color: white;
	background-color: #33A4FB;
	border-radius: 5px;
	outline: none;
}

#edit-bulletin {
	background-color: rgb(188, 151, 69);
	display: none;
}

#comment-bulletin {
	background-color: rgb(103, 132, 102);
	display: none;
}

.post-bulletin-btn:hover {
	opacity: 0.7;
}

.post-bulletin-btn:active {
	opacity: 1;
	background-color: rgb(24, 132, 21);
}
