<% include ./partials/header %>

	<div class="grid-container">
		<div class="user-profile-btns">
			<a class="create-company" href="/company-dashboard/create">Create a company</a>
			<a class="startup-resources" href="/startup-resources/my-messages">Startup Resources</a>
		</div>

		<% if(currentUser.publicProfile) { %>
			<p>Your profile is currently public in Startup Resources.</p>
			<a href="/user-profile/<%= currentUser._id %>/hide-me">Hide me</a>
		<% } else { %>
			<p>Your profile is currently hidden from Startup Resources.</p>
			<a href="/user-profile/<%= currentUser._id %>/make-me-public">Make me public</a>
		<% } %>

		<% include ./partials/user-profile-information %>
		<% include ./partials/user-profile-companies %>

	</div>


<% include ./partials/footer %>
