/* **************************** Social Login ******************************* */
.fb-login-button {
	margin-top: 20px;
}

.btn-facebook {
	margin-top: 20px;
	color: white;
	background-color: rgb(59, 89, 152);
}

.btn-facebook:hover {
	opacity: 0.7;
	color: white;
}

.btn-linkedin {
	margin-top: 20px;
	color: white;
	background-color: rgb(0, 119, 181);
}

.btn-linkedin:hover {
	opacity: 0.7;
	color: white;
}
