.home-content {
  margin-top: 50px;
}

.homepage-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.start-a-business {
  background-color: #b7b7b7;
  border: 1px solid: #b7b7b7;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 150px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 11px;
  box-shadow: 4px 4px 4px gray;
}

.start-a-business:hover {
  border: 1px solid white;
  background-color: #33A4FB;
  text-decoration: none;
  color: white;
}
