<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="/scripts/libs/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/flash.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/user-profiles/top-nav.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/user-profiles/universal.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/user-profiles/content.css">
</head>
<body>

	<% include ../../universal-partials/flash %>
	<% include ./nav/top-nav.ejs %>
