<% include ./partials/home/header %>

<div class="container">

  <a href="/auth/facebook" class="btn btn-facebook">Continue with Facebook</a>
  <a href="/auth/linkedin" class="btn btn-linkedin">Continue with LinkedIn</a>

</div>



<% include ./partials/home/footer %>
