<% include ./partials/head-open %>
<link rel="stylesheet" type="text/css" href="/stylesheets/company-dashboard/dashboard.css">
<% include ./partials/head-close %>

	<div class="content">

		<div class="grid-container">

			<div class="notifications">
				<h3 class="section-header">Notifications</h3>
				<ul>
					<% for (let notification of company.notifications) { %>
						<li><%= notification %></li>
					<% } %>
				</ul>
			</div>

		</div>
	</div>

<script type="text/javascript" src="/scripts/company-dashboard/company-info-form.js"></script>
<% include ./partials/footer %>
