<% include ./partials/head-open %>
<link rel="stylesheet" type="text/css" href="/stylesheets/company-dashboard/dashboard.css">
<% include ./partials/head-close %>

	<div class="content">
		<div class="page-description">
			<h2>Dashboard</h2>
		</div>

		<div class="grid-container">

			<div class="company-info">
				<h3 class="section-header">Company Info</h3>
				<p class="section-header-info">In order to make your company public in the startup resources, fill out and save the fields below</p>
			</div>

			<div class="notifications">
				<h3 class="section-header">Notifications</h3>
				<ul>
					<% for (let notification of company.notifications) { %>
						<li><%= notification %></li>
					<% } %>
				</ul>
			</div>

			<div class="active-users">
				<h3 class="section-header">Online</h3>
				<ul id="active-user-ul">

				</ul>
			</div>

		</div>
	</div>

<script type="text/javascript" src="/scripts/company-dashboard/company-info-form.js"></script>
<% include ./partials/footer %>
