<div class="chat-window">
  <p class="chat-hide"><i class="fas fa-caret-down"></i></p>
  <p class="chat-reveal"><i class="fas fa-caret-up"></i></p>

  <ul class="chat-messages-content-background">
    <li class="first-message"><- Team Chat -></li>
  </ul>


  <form class="chat-form" action="index.html" method="post">
    <textarea name="name" class="chat-message"></textarea>
    <button id="chat-button" class="chat-message-button"><i class="fas fa-paper-plane"></i></button>
  </form>

</div>
