<% include ../../partials/head-open %>
<% include ../../partials/head-close %>

<div class="grid-container">
  <% include ../../partials/nav/sidebar %>
  <div class="content">

    <% if(user.companiesAdmin.length > 0 || user.companiesMember.length > 0) { %>
      <div class="companies">
        <h2 class="profile-header">Your Companies</h2>
        <div class="companies-content">

          <ul class="admin">
            <h3>Admin</h3>
            <% user.companiesAdmin.forEach((company) => { %>
              <li>
                <a class="my-companies" href="/company-dashboard/<%= company._id %>">
                  <%= company.name %>
                </a>
              </li>
            <% }) %>
          </ul>

          <ul class="member">
            <h3>Member</h3>
              <% user.companiesMember.forEach((company) => { %>
              <li>
                <a class="my-companies" href="/company-dashboard/<%= company._id %>">
                  <%= company.name %>
                </a>
              </li>
            <% }) %>
          </ul>

        </div>
      </div>
    <% } else { %>
      <div class="companies">
        <h2 class="profile-header">Companies</h2>
        <div class="companies-content">
          <p>
            You don't have any companies.
          <p>
          <p>
            Create one or join one from <a href="/homebase/startup-resources/startups">Startups</a> pool under Startup Resources.
          </p>
        </div>
      </div>
    <% } %>

  </div>
</div>



<% include ../../partials/footer %>
