<% include ../partials/user/header %>

<br>
<br>


<form action="/company_dashboard/create" method="post">
	<div class="form-group">
		<input class="form-control" type="string" name="company[name]" placeholder="Company Name" required>
	</div>
	<button>Submit</button>
</form>

<% include ../partials/user/footer %>
