body {
  margin: 0;
  font-family: 'Playfair Display', serif;
}

.grid-container {

}

.sidebar {
	width: 200px;
  float: left;
  border-right: 1px solid black;
}

.content {
	width: calc(100vw - 200px - 20px);
  float: right;
}
