body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  overflow: hidden;
}

.grid-container {
	margin: 10px 0;
  overflow: hidden;
}

.sidebar {
	width: 250px;
  float: left;
  border-right: 1px solid black;
}

.content {
	width: calc(100vw - 250px - 20px);
  float: right;
}
