body {
  margin: 0;
  font-family: 'Playfair Display', serif;
}

.grid-container {

}

.sidebar {
	width: 200px;
  float: left;
  border-right: 1px solid black;
  height: calc(100vh - 83px);
}

.sidebar ul {
  height: calc(100vh - 99px);
  margin-bottom: 0;
}

.content {
	width: calc(100vw - 200px - 20px);
  float: right;
}

#user-data-store {
	display: none;
}
