.chat-window {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 350px;
	height: 500px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	z-index: 10;
}

.chat-hide, .chat-reveal {
	text-align: center;
	margin: 0;
	color:white;
	background-color: #384760;
	font-size: 1.6em;
	line-height: 1em;
	cursor: pointer;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.chat-hide {
	display: none;
}

.chat-reveal {
	position: fixed;
	bottom: 0;
	width: 350px;
}

.chat-messages-content-background {
	display: none;
	width: 350px;
	height: 422px;
	margin: 0 auto;
	background-color: #404040;
	color: white;
	list-style: none;
	padding: 0;
	overflow-y: auto;
}

.first-message {
	color: #B9B9B9;
	text-align: center;
	margin-top: 10px;
}

.chat-list-item {
	margin: 10px;
}

.chat-message-name {
	margin: 0;
	font-size: 0.8em;
}

.chat-message-content-error {
	margin: 0;
	font-size: 0.8em;
	color: gray;
}

.chat-message-content {
	margin: 0;
	font-size: 0.9em;
}

.chat-form {
	display: none;
	position: fixed;
	bottom: 0;
	width: 350px;
	height: 52px;
	background-color: #384760;
}

.chat-message {
	width: 260px;
	padding: 5px;
	font-size: 1em;
	resize: none;
	height: 20px;
	overflow: auto;
	margin: 10px;
	border-radius: 3px;
	border: 1px solid #384760;
	outline: none;
}

.chat-message-button {
	height: 32px;
	float: right;
	width: 47px;
	font-size: 1.1em;
	margin: 10px 10px 0 0;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid #384760;
	color: white;
	background-color: #80987E;
}

.chat-message-button:focus, .chat-message-button:hover {
	background-color: #50894C;
}
