.dashboard-nav-bar {
	position: relative;
  overflow: hidden;
  height: 80px;
  background-color: #33A4FB;
  border-bottom: 3px solid #33A4FB;
}

.dashboard-nav-logo {
  width: 150px;
}

.dashboard-nav-logo img {
  width: 150px;
}

.dashboard-nav-bar p {
	top: 30px;
	left: calc(50% - 175px);
	position: absolute;
	text-align: center;
	color: white;
	font-size: 2em;
	font-weight: bolder;
	width: 350px;
	margin: 0;
}
