.sidebar {
  background-color: #303332;
}

.sidebar ul {
  list-style: none;
  height: calc(100vh - 50px);
}

.sidebar hr {
  width: 150px;
  margin-left: -10px;
  outline: none;
  border: none;
  background-color: #DCDCDC;
  height: 1px;
}

.sidebar ul li {
  padding: 10px 0;
}

.sidebar ul li a {
  font-size:1em;
  text-decoration: none;
  color: white;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}
