<% include ./partials/header-open %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/home/get-started.css">
<% include ./partials/header-close %>
 <div class="container">
  <h3>Log in or Sign up</h3>
	<a href="/auth/linkedin" class="btn btn-linkedin">Continue with LinkedIn</a>
 </div>
<% include ./partials/footer %>
