<% include ./partials/header-open %>
<% include ./partials/header-close %>

<h1 id="home">Home</h1>

<% if(currentUser){ %>
	<a href="/user_profile/<%= currentUser._id %>">Back to Profile</a>
<% } %>

<% include ./partials/footer %>
