<% include ./partials/header-open %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/home/login.css">
<% include ./partials/header-close %>


	<h5 class="social-auth-description">We use LinkedIn to authenticate our users. This helps us create a professional community for you to connect with.</h5>

	<div class="social-container">
		<a href="/auth/linkedin" class="btn btn-linkedin">Continue with LinkedIn</a>
	</div>

<% include ./partials/footer %>
