<% include ./partials/header-open %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/home/get-started.css">
<% include ./partials/header-close %>

<div class="container">
  <h3>Sign up</h3>
  <form class="signup-form" action="/signup" method="post">

    <label for="name">Name</label>
    <input type="text" name="name">

    <label for="username">Email</label>
    <input type="email" name="username">

    <label for="password">Password</label>
    <input type="password" name="password">

    <label for="confirmPassword">Confirm Password</label>
    <input type="password" name="confirmPassword">

    <label for="url">Linkedin url</label>
    <input type="text" name="url">
		
    <button>Go</button>
  </form>

  <a href="/login">already have an account?</a>

</div>

<% include ./partials/footer %>
