
<nav id="top-nav">
  <p id="nav-content">
    <a href="#">Startup Resources</a>
		<span id="nav-button"><i class="fas fa-bars"></i></span>
		<ul id="nav-target">
			<li>
				<a href="/user-profile/<%= currentUser._id %>">Profile</a>
			</li>
			<hr>
			<% let myCompanies = user.companiesAdmin.concat(user.companiesMember) %>
			<% for(let company of myCompanies){ %>
				<li>
					<a href="/company-dashboard/<%= company._id %>"><%= company.name %></a>
				</li>
			<% } %>
			<hr>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/logout">Logout</a>
			</li>
		</ul>
  </p>
</nav>
