<nav id="top-nav">
  <p id="nav-content">
    <a href="#"><%= currentUser.name.split(' ')[0] %>'s Profile</a>
		<span id="nav-button"><i class="fas fa-bars"></i></span>
		<ul id="nav-target">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/logout">Logout</a>
			</li>
		</ul>
  </p>
</nav>
