<% include ../partials/header %>

<br>
<br>

<a href="/user-profile/<%= currentUser._id %>">back</a>

<br>
<br>

<form action="/company-dashboard/create" method="post">
	<div class="form-group">
		<input class="form-control" type="string" name="company[name]" placeholder="Company Name" required>
	</div>
	<button>Submit</button>
</form>

<% include ../partials/footer %>
