.content {
  overflow-y: hidden;
}

#my-messages-ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 10px;
  width: 160px;
  overflow-y: auto;
}

.message-tab {
  width: 150px;
  height: 40px;
  border: 1px solid black;
  margin-top: -1px;
  text-align: center;
  cursor: pointer;
}

.message-tab:first-of-type {
  margin-top: 16px;
}

.message-tab:hover{
  background-color: #D3D3D3;
}

.selected {
  background-color: blue;
  color: white;
}

.message-actions {
  position: fixed;
  width: calc(100% - 160px - 30vw);
  height: calc(100vh - 90px);
  right: 0;
  top: 77px;
  display: none;
}

.delete-message-form {
  display: none;
}

.reply-message-form {
  display: none;
}

.reply-message-form textarea {
  width: calc(100% - 6px);
  resize: none;
  height: 100px;
  font-size: 1em;
}

.actual-message {
  margin: 10px 0 0 0;
}

.actual-message h4 {
  margin: 0;
}

.actual-message p {
  margin: 5px 0 0 0;
}

#message-window {
  width: calc(100% - 160px - 30vw);
  height: calc(100vh - 90px - 50px);
  padding: 0;
  list-style: none;
  border: 1px solid black;
  overflow-y: auto;
  position: fixed;
  right: 0;
  bottom: 10px;
}
