body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  overflow: hidden;
}

.grid-container {
	margin: 10px 0;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(calc(100vh - 50px - 20px), calc(100vh - 50px - 20px));
}

.sidebar {
	grid-column: 1/4;
  border-right: 1px solid black;
}

.content {
	grid-column: 4/13;
}
