<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
	<script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/dashboard/navigation.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/dashboard/universal.css">
