<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="/scripts/libs/jquery-3.3.1.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/flash.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/homebase/universal.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/homebase/nav/top-nav.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/homebase/nav/sidebar.css">
