<div class="information">
  <div class="information-content">
    <h3>Create</h3>
    <p>Create a company to get started.</p>

    <h3>Join</h3>
    <p>
      Interested in joining a startup instead?
      Check out the startup resources	to see what's already out there.
    </p>

  </div>
</div>
