<div class="sidebar">
  <ul>

    <li>
      <a href="/homebase/create">
        Create Company
      </a>
    </li>

    <li>
      <a href="/homebase/my-companies">
        My Companies
      </a>
    </li>

    <li>
      <a href="/homebase/<%= currentUser._id %>/invites">
        Invites
      </a>
    </li>

    <li>
      <a href="/homebase/<%= currentUser._id %>/profile">
        Profile
      </a>
    </li>

    <hr>

    <li>
      <a href="/">Home</a>
    </li>

    <li>
      <a href="/">How To</a>
    </li>

    <li>
      <a href="/">Contact</a>
    </li>

    <li>
      <a href="/logout">Sign out</a>
    </li>

  </ul>
</div>
