<% include ../../partials/head-open %>
<% include ../../partials/head-close %>


	<div class="grid-container">
	  <% include ../../partials/nav/sidebar %>
	  <div class="content">

			<% if(currentUser.publicProfile) { %>
				<p>Your profile is currently public in Startup Resources.</p>
				<a href="/homebase/user/<%= currentUser._id %>/hide-me">Hide me</a>
			<% } else { %>
				<p>Your profile is currently hidden from Startup Resources.</p>
				<a href="/homebase/user/<%= currentUser._id %>/make-me-public">Make me public</a>
			<% } %>

			<% include ./profile-partials/user-profile-information %>

	  </div>
	</div>



<% include ../../partials/footer %>
