<% include ../../partials/head-open %>
<% include ../../partials/head-close %>


	<div class="grid-container">
	  <% include ../../partials/nav/sidebar %>
	  <div class="content">

			<% if(currentUser.publicProfile) { %>
				<p>Your profile is currently public. Your profile is visible to startups and they can invite you to join their team.</p>
				<a href="/homebase/user/<%= currentUser._id %>/hide-me">Hide me</a>
			<% } else { %>
				<p>Your profile is currently hidden. If you would like startups to invite you to work on their team, go public.</p>
				<a href="/homebase/user/<%= currentUser._id %>/make-me-public">Make me public</a>
			<% } %>

			<% include ./profile-partials/user-profile-information %>

	  </div>
	</div>



<% include ../../partials/footer %>
