.grid-container {
	margin: 0 1em;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 1em;
	grid-auto-rows: minmax(0, 250px);
}

.section-header {
	margin: 10px 0 10px 10px;
}

.company-info {
	grid-column: 1/8;
}

.company-info input {
	width: 100%;
	border: 1px solid black;
	border-radius: 5px;
	padding: 2px;
	font-size: 1.1em;
}

.company-info textarea {
	width: 100%;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 1.1em;
	resize: none;
}

.company-btn {
	margin: 5px 0 0 0;
	border: 1px solid black;
	width: 150px;
	text-align: center;
	border-radius: 3px;
	background-color: yellow;
	cursor: pointer;
}

.save-btn, .cancel-btn {
	display: none;
}

.notifications {
	grid-column: 8/13;
}

.active-users {
	grid-column: 1/3;
}

.notifications ul {
	padding: 0;
	letter-spacing: 1.2px;
	margin-bottom: 0;
	overflow-y: auto;
	border: 1px solid rgb(64, 64, 64);
	border-radius: 5px;
	height: 80%;
}

.notifications ul li {
	padding: 3px 10px 3px 0;
	margin-left: 30px;
}
