body {
	padding: 0;
	margin: 0;
	font-family: 'Playfair Display', serif;
}

#user-data-store {
	display: none;
}

/********************************************* NAVBAR STYLE *********************************************/
#top-nav {
	height: 50px;
	background-color: #384760;
}

#nav-content {
	margin: 0;
	list-style: none;
	padding: 0;
	width: 95%;
	margin: 0 auto;
	padding-top: 10px;
}


#nav-content a {
	font-size: 21px;
	color: white;
	text-decoration: none;
	float: left;
}

#nav-content .fa-bars {
	font-size: 24px;
	float: right;
	color: white;
	border: solid 1px white;
	padding: 3px 6px;
	border-radius: 5px;
	display: none;
	cursor: pointer;
}

#nav-content .fa-bars:hover {
	opacity: 0.7;
}

/********************************************* SIDEBAR STYLE *********************************************/
.sidebar {
	width: 250px;
	float: left;
	background-color: #303332;
	height: calc(100vh - 50px);
}

.sidebar-ul {
	list-style: none;
	padding: 20px 0 0 0;
	width: 70%;
	margin: 0 auto;
}

.sidebar-ul li {
	color: white;
	padding: 10px 5px;
}

.sidebar-ul li:not(:last-child) {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar-ul li a {
	color: white;
	text-decoration: none;
}

.sidebar-ul li a span {
	padding-right: 5px;
}

.sidebar-ul li a:hover {
	opacity: .7;
}

/********************************************* CONTENT STYLE *********************************************/
/* Handled on dashboard css instead */

/********************************************* MEDIA QUERIES *********************************************/
@media screen and (max-width: 1023px){
	#nav-content .fa-bars {
		display: block;
	}

	.sidebar {
		height: 0;
		width: 100vw;
		transition: all .5s ease-out;
	}

	.sidebar-ul {
		display: none;
	}

	.content {
		margin: 0;
	}
}

/******************************************** CSS TOGGLE CLASSES *******************************************/
.sidebar-toggle {
	height: calc(100vh - 50px);
	width: 100vw;
	transition: all .5s ease-out;
}

.sidebar-ul-toggle {
	display: block;
}

.content-toggle {
	display: none;
}


/************************ Flash Styling ****************************/
.flash {
	width: 80%;
	margin: 20px 5px 5px 5px;
	color: white;
	text-align:  center;
	border-radius: 5px;
	padding: 10px 0;
	position: fixed;
	margin-left: calc(10%);
	opacity: 1;
	transition: opacity 2s ease-out;
}

.flash-error {
	border: 1px solid white;
	background-color: rgb(198, 121, 135);
	color: white;
}

.flash-success {
	border: 1px solid white;
	background-color: rgb(114, 173, 109);
	color: white;
}

/************************ Chat Styling ****************************/
.chat-window {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 350px;
	height: 500px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	z-index: 10;
}

.chat-hide, .chat-reveal {
	text-align: center;
	margin: 0;
	color:white;
	background-color: #384760;
	font-size: 1.6em;
	line-height: 1em;
	cursor: pointer;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.chat-hide {
	display: none;
}

.chat-reveal {
	position: fixed;
	bottom: 0;
	width: 350px;
}

.chat-messages-content-background {
	display: none;
	width: 350px;
	height: 422px;
	margin: 0 auto;
	background-color: #404040;
	color: white;
	list-style: none;
	padding: 0;
	overflow-y: auto;
}

.first-message {
	color: #B9B9B9;
	text-align: center;
	margin-top: 10px;
}

.chat-list-item {
	margin: 10px;
}

.chat-message-name {
	margin: 0;
	font-size: 0.8em;
}

.chat-message-content-error {
	margin: 0;
	font-size: 0.8em;
	color: gray;
}

.chat-message-content {
	margin: 0;
	font-size: 0.9em;
}

.chat-form {
	display: none;
	position: fixed;
	bottom: 0;
	width: 350px;
	height: 52px;
	background-color: #384760;
}

.chat-message {
	width: 260px;
	padding: 5px;
	font-size: 1em;
	resize: none;
	height: 20px;
	overflow: auto;
	margin: 10px;
	border-radius: 3px;
	border: 1px solid #384760;
	outline: none;
}

.chat-message-button {
	height: 32px;
	float: right;
	width: 47px;
	font-size: 1.1em;
	margin: 10px 10px 0 0;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid #384760;
	color: white;
	background-color: #80987E;
}

.chat-message-button:focus, .chat-message-button:hover {
	background-color: #50894C;
}
